/*custom.css
 Evan P.
 */

@charset "UTF-8";

h1{color: black;}
p{color: gray;}

html
{
	background-color: white;
}

body
{
	width:800px;
	margin:5% auto;
	padding: 2% 2%;
	max-width: 80%;
	background-color: #eee;
	border: solid 1px #ddd;
}

.logo{width: 20%;}
.title{width: 80%; background-color: blue;}
#welcome{width: 100%;}
#mission{width: 100%;}
#featConn{width: 100%;}
#moreinfo{width: 10%;}
#featured{width: 65%;}
#connect{width: 25%;}

nav.fixed
{
	position: fixed;
	margin-right:10%;
	z-index: 100;
	top: 0;
	border-radius: 1em 3em 1em 3em;
}

nav a
{
	
}

/* this styles the selected 
 * navigation link so that you 
 * know what page you are on */
body#home a#homenav,
body#about a#aboutnav,
body#projects a#projnav,
body#services a#servnav,
body#github a#gitnav,
body#contact a#contnav
{
	color: red;
	background-color: gray;
	border-radius: 1em 3em 1em 3em;
}

a:link
{
	color: #FF0000;
	background-color:#94FF70;
	text-decoration:none;
}/* unvisited link */

a:visited
{
	color: #00FF00;
	text-decoration:none;
}/* visited link */

a:hover
{
	color: #FF00FF;
	text-decoration:none;
}/* mouse over link */

a:active
{
	color: #0000FF;
	text-decoration:none;
} /* selected link */ 

.copyright
{
	font-style:italic;
}
